<div data-dojo-attach-point="summarydiv">
    <div data-dojo-type="dijit/form/Form" id="Summaryform" data-dojo-attach-point="Summaryform" action="" method="">
        <h2>Primary Info</h2>
        <div class="form-group">
            <label class="LabelFor">Name: </label>
            ${model.PrimaryInfo.First}
        </div>
        <div class="form-group">
            <label class="LabelFor">UserName: </label>
            ${model.PrimaryInfo.Username}@gmail.com
        </div>
        <button id="ShowBasicInfo" type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:GoBasicInfo">
            Edit
        </button>
        <hr />
        <h2>Detailed Info</h2>
        <div class="form-group">
            <label class="LabelFor">Address: </label>
            ${model.DetailedInfo.Address}
        </div>
        <div class="form-group">
            <label class="LabelFor">State: </label>
            ${model.DetailedInfo.StateName}
        </div>
        <div class="form-group">
            <label class="LabelFor">City: </label>
            ${model.DetailedInfo.City}
        </div>
        <div class="form-group">
            <label class="LabelFor">Zip: </label>
            ${model.DetailedInfo.Zip}
        </div>
        <button id="ShowDetailInfo" type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:GoDetailInfo">
            Edit
        </button>
    </div>
</div>